* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
  color: #eee;
}
body {
  background-image: linear-gradient(to right, #1e1f24, #111115);
}

a {
  text-decoration: none;
}
/* navbar */
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1e1f24;
  justify-content: center;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

#navbar ol {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: row;
}

#navbar ol li {
  margin: 5px;
  text-align: center;
  padding: 10px;
}
#navbar ol li a {
  transition: ease-in-out 0.3s;
}
#navbar ol li a:hover {
  opacity: 0.5;
}
/* fim navbar */

/* inicio */
#inicio {
  animation: start 1.5s;
  width: 60%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -130px;
  border-bottom: 2px solid #1d65c5;
  transition: ease-in-out 1s;
}
@keyframes start {
  from {
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#inicio img {
  border-radius: 50%;
  width: 250px;
  box-shadow: 3px 3px 25px 8px rgba(14, 44, 84, 0.3),
    -3px -3px 25px 8px rgba(29, 101, 197, 0.3);
}
#title {
  font-size: 35px;
}
#title p {
  font-size: 25px;
  margin-top: 15px;
}
#title h1 {
  letter-spacing: 4px;
  transition: ease-in-out 1s;
}

#capa {
  height: 250px;
  width: 100%;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("../img/bg2.jpg");
  background-position: center;
  background-size: cover;
}
/* fim inicio */
#sobre {
  width: 60%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #1d65c5;
  transition: ease-in-out 1s;
}
#sobre h2 {
  font-size: 30px;
  margin-right: 20px;
}

#sobre p {
  width: 450px;
  text-align: justify;
  padding-left: 20px;
  border-left: 2px solid #1d65c5;
}
/* sobre */

/* projetos */
#projetos {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #1d65c5;
  transition: ease-in-out 1s;
}
#projetos h2 {
  margin-top: 10px;
}

#projetos .cards {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

#projetos .cards .card {
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  width: 400px;
  padding: 20px;
  text-align: center;
  background-color: #1e1f24;
}
.card h3 {
  margin-bottom: 20px;
}
._description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
._description ol {
  list-style: disc;
  text-align: start;
  padding: 20px;
}
._imgCard {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  opacity: 0.3;
}

._imgCard:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
}

.card a {
  padding: 20px;
  color: #1d65c5;
  transition: ease-in-out 0.5s;
}
.card a:hover {
  opacity: 0.5;
}
/* fim projetos */

/* contatos */
#contatos {
  width: 60%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* fim contatos */

/*contatos*/
#contatos {
  flex-direction: column;
  align-items: center;
}

#box-contacts {
  display: flex;
  flex-direction: row;
}
#box-contacts img {
  width: 60px;
}

.box {
  margin: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  transition: ease-in-out 0.5s;
}
.box:hover {
  border-radius: 10px;
  transform: scale(1.1, 1.1);
  /* box-shadow: 3px 3px 25px 8px rgba(14, 44, 84, 0.3),
    -3px -3px 25px 8px rgba(29, 101, 197, 0.3); */
}

footer {
  text-align: center;
  margin: 10px;
}
